<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>IAMusic - À propos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='propo.css') }}">
</head>
<body>

	<a href="{{ url_for('index') }}" class="btn-accueil">Accueil</a>
  <h1>À propos de IAMusic</h1>

  <p>
    <strong>IAMusic</strong> est une application web qui facilite la recherche musicale en proposant automatiquement des playlists adaptées à votre humeur ou votre situation.
  </p>

  <p>
    Grâce à un système intelligent de mots-clés et à vos préférences musicales, IAMusic vous fait gagner du temps et vous aide à (re)découvrir des artistes et des sons qui correspondent parfaitement à votre vibe du moment.
  </p>

  <p>
    Vous pouvez créer un compte, indiquer les styles que vous aimez, et laisser IAMusic faire le reste : une sélection musicale rapide, personnalisée, et toujours dans le bon ton.
  </p>

  <ul>
    <li>🎵 Détection d’humeur via vos phrases</li>
    <li>🎧 Lecture directe sur Spotify</li>
    <li>🔑 Connexion avec compte personnel</li>
    <li>📚 Historique et recommandations évolutives</li>
  </ul>

  <p>
    IAMusic, c’est la musique qui vous comprend.
  </p>

</body>
</html>